// COLORS
$color-activ:#0065FC;
$color-activ-light: #deebff;
$color-primary: #F2F2;
$color-secondary: #DEEBFF;

$color-grey: #f2f2f2;
$color-star-grey: #f2f2f2;


// Fonts
$font-primary: Raleway;

// BREAK POINTS
$ipad: 768px;
$ipadpro: 1024px;
$screen: 1366px;
$bigscreen: 1600px